<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<form th:object="${student}" th:action="@{/edit-student}" method="post">
    <fieldset>
        <table border="1">
            <tr>
                <td><input type="hidden" th:field="*{id}"/> </td>
            </tr>

            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>

            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{age}"/></td>
            </tr>
        </table>
        <input type="submit" th:value="'Edit This student'" >
    </fieldset>

</form>
</body>
</html>